@tailwind base;
@tailwind components;
@tailwind utilities;

.myAwesomeBg {
    background-image: url('/backbody.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-56 {
    align-items: center;
    background-color: #001f54;
    border: 2px solid #0a1128;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fefcfb;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    display: flex;
    width: 100%; /* Make buttons take full width */
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 0 16px; /* Add padding for better appearance */
}

.button-56:after {
    background-color: #034078;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #fefcfb;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

/* Responsive styles */
@media (max-width: 600px) {
    .button-56 {
        font-size: 14px;
        height: 40px;
        padding: 0 12px;
    }

    .button-56:after {
        height: 40px;
    }
}